name: Deploy to Server

on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH for deployment
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: |
          ${{ secrets.SSH_PRIVATE_KEY }}


    - name: Deploy to server
      run: |
        ssh -o StrictHostKeyChecking=no -i /home/runner/.ssh/id_rsa lim@49.142.42.218 'cd ~/OFFICE_F && bash /scripts/office/build_push.sh'
